<%if current_agent.admin?%>
<%=link_to "Create new lead", new_lead_path%>
<%end%> 

<table>
  <thead>
    <th width="200">Name</th>
    <th width="140">Start Date</th>
    <th width="300">Searches</th>
    <th width="140">Active Date</th>
    <th width="200">Agent</th>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= link_to lead.name, lead_path(lead) %></td>
        <td><%= lead.start_date.to_s(:simple_with_year) %></td>
        <td>
          <strong>Count:</strong> <%= lead.search_count %><br />
          <strong>Most recent:</strong> <%= lead.last_search %>
        </td>
        <!-- <td><%#=lead.active_at.to_s(:simple_with_year)%></td> -->
        <% if lead.active_at != nil %>
          <td><%= lead.active_at.to_s(:simple_with_year) %></td>
        <% else %>
          <td><%= "Not Active" %></td>
        <% end %>
        <%if current_agent.admin?%>
          <td>
            <%= form_for (lead), remote:true do |l| %>
              <%= l.select :agent_id, agent_select_options(lead) %>
            <%= l.submit "Update Agent", class: "btn btn-default"%>
            <%end%>
        <%else%>
        <td><%= lead.agent%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>


