<table>
  <thead>
    <th width="200">Name</th>
    <th width="140">Start Date</th>
    <th width="300">Searches</th>
    <th width="140">Active Date</th>
    <th width="200">Agent</th>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= link_to lead.name, lead_path(lead) %></td>
        <td><%= lead.start_date.to_s(:simple_with_year) %></td>
        <td>
          <strong>Count:</strong> <%= lead.search_count %><br />
          <strong>Most recent:</strong> <%= lead.last_search %>
        </td>
        <td><%= lead.active_at.to_s(:simple_with_year) %></td>
        <%if current_agent.role == 'Admin'%>
          <td>
            <%= form_for (lead), remote:true do |l| %>
              <%= l.select :agent_id, options_for_select([['', nil]] + Agent.order(:name).all.collect {|a| [a.name, a.id]}, allow_blank: true, selected: lead.agent_id) %>
            <%= l.submit "Update", class: "btn btn-default"%>
            <%end%>
          </td>
        <%else%>
        <td><%= lead.agent%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>


