<table>
  <thead>
    <th width="200">Name</th>
    <th width="100">Start Date</th>
    <th width="260">Searches</th>
    <th width="140">Active Date</th>
    <th width="200">Agent</th>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.name %></td>
        <td><%= lead.start_date %></td>
        <td><%= lead.last_search %></td>
        <td><%= lead.last_active_at %></td>
        <td><%= lead.agent %></td>
      </tr>
    <% end %>
  </tbody>
</table>

